{% extends "public/templates/public_template.html" %}

{% block title %}Profile{% endblock %}

{% block navrhs %}
<li class="nav-item">
  <a class="nav-link" href="/sign-out">Sign out</a>
</li>
{% endblock %}

{% block main %}

<div class="container">
  <div class="ro">
    <div class="col">
      <h1>Profile</h1>
      <hr>

      <div class="card">
        <div class="card-body">
          <h4>{{ user["username"] }}</h4>
          <hr>
          <p>{{ user["email"] }}</p>
          <p class="text-muted">{{ user["bio"] }}</p>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}